<html>
    {% extends 'base.html' %}
    {% block contents %}
    <body>
        <div class = 'container'>
            {% if error %}
            {{ error }}
            <br>
            <br>
            {% endif %}
            <h1>Login</h1>
            <form action = "{% url 'login' %}" method="POST">
                {% csrf_token %}
                Username:
                <br>
                <input name = 'username' type="text" value="">
                <br>
                Password:
                <br>
                <input name = "password" type="password" value="">
                <br>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
        </div>
        {% endblock %}
    </body>
</html>